.banner-left {
  text-align: left;   /* ❌ center hatao */
}

.banner-title {
  /* font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 25px; */
  font-size: 32px;
    text-align: right;
    /* color: #003a83; */
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.blue {
  color: #0b3c78;
}

.orange {
  color: #f59e0b;
}

.view-btn {
  background: linear-gradient(90deg, #3b5bdb, #1c7ed6);
  border: none;
  padding: 12px 28px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-top: 29px;
    margin-left: 38%;
   
}


.view-btn {
  background: linear-gradient(90deg, #3b5bdb, #1c7ed6);
  border: none;
  padding: 12px 28px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

/* 🔥 MOST IMPORTANT PART */
.search-box {
  box-shadow: 0 2px 6px #dfeaff;
    top: 25px;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 3px !important;
    border-radius: 8px;
    right: -40px;
}

.search-box input {
  flex: 1;
  padding: 14px;
  border: none;
  outline: none;
  width: 83%;

}

.pg-btn {
  background: #f59e0b;
  border: none;
  padding: 12px 22px;
  font-weight: 600;
  color: #fff;
}



.reverse-btn{
  color: #fff;
    background: linear-gradient(45deg, #2e3b89, #1661b5);
    border-radius: 2rem !important;
    padding: 4px 17px 7px !important;
}

.sed-btn{
   color: #fff;
    background: linear-gradient(45deg, #ffa902, #ffa902);
    border-radius: 2rem !important;
    padding: 4px 17px 7px !important;
}
.gender{
      background: #ddd;
    padding: 7px 9px;
    border-radius: 64px;
    font-size: 12px;
    position: absolute;
    top: 14px;
    right: 11px;
}


.top-bar {
  background: #f8f8f8;
  font-size: 14px;
  padding: 8px 0;
}

.top-bar span {
  color: #333;
}

.main-navbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.navbar-nav .nav-link {
  font-weight: 500;
  margin-left: 20px;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #f59e0b;
}